@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

body {
    font-family: 'IM Fell French Canon', serif;
}

#showcase {
    background-image: url("header.jpg");
    height: 95vh;
    background-size: cover;
    background-position: center;
    color: #fff;
}


@media (max-width: 768px) {
    #showcase {
        padding: 0 100px; 
    }
}