@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Urbanist:wght@100;400&display=swap');

body {
    font-family: 'Urbanist', sans-serif; 
    font-size: 15px;
    color: rgb(7,1,2);
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: rgb(243,244,246);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* The overflow property determines what to do if the content overflows and elements box. Setting overflow to hidden wil hide/clip the overflowing content.*/
}

ul {
margin: 0;
padding: 0;
/* hides the bullet points from the list items */
}

.btn-1 {
    height: 38px;
    background-color: rgb(185, 178, 178);
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light {
    background-color: rgb(185, 178, 178);
}

.dark {
    background-color: rgb(7,1,2);
    color: rgb(243,244,246)
}

h1,h2, h3 {
    font-family: 'Playfair Display', serif;
}

header {
    background-color: rgb(7,1,2);
    color: rgb(243,244,246);
    min-height: 70px;
    border-color: 3px solid paleturquoise;
    padding: 5px 0;
}

#branding {
    font-size: 18px;
}

header .container {
display: flex;
justify-content: space-between;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    /* removes the bullet point */
    list-style: none;
    padding: 0 20px;
    
}

header a {
    color: rgb(185, 178, 178);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.highlight, header #current a {
    color: paleturquoise;
}

header a:hover {
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background-image: url("Images/laptop.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color:rgb(243,244,246);
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
    border-bottom: paleturquoise 2px solid;
}

#showcase p {
    font-size: 20px;

}

/* Newsletter section */

#newsletter {
    padding: 15px;
    background-color: rgb(7,1,2);
    color: rgb(243,244,246);
}
#newsletter .container {
display: flex;
justify-content: center;
align-items: center;
}

#newsletter .container h1 {
    padding-right: 25px;
}

#newsletter input {
    padding: 5px; 
    margin-right: 15px;
    height: 25px;
    width:250px;
    font-size: 16px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .container {
    display: flex;
    justify-content: space-between;
}

#boxes .box {
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes .box i {
    font-size: 225px;
    margin: auto;
}

#boxes .box .fa-html5 {
    color: #d45632;
}

#boxes .box .fa-css3-alt {
    color: turquoise;
}
#boxes .box .fa-js {
    color: #f3df50;
}

/* About section */

#about {
    background-color: rgb(7,1,2);
    padding: 20px;
}

#about .container {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
}

#about .main-col {
color: rgb(243,244,246);
}

#about .sidebar {
    margin-top: 10px;   
}

/* services */
#services .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
}

#services li {
    padding: 20px;
    border: 1px solid rgb(7,1,2);
    margin-bottom: 10px; 
    background-color: rgb(185, 178, 178);
}

#services li h3 p {
    font-family:'Urbanist', sans-serif;
}

#services .sidebar {
    margin-top: 25px;
}

#services input, #services textarea {
    padding: 5px;
    width: 90%;
    font-size: 16px; 

}

footer {
    padding: 3px;
    background-color: paleturquoise;
    text-align: center;
}

/* media queries */
@media (max-width: 768px) {
    header .container, 
    #newsletter .container, 
    #boxes .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #showcase .container {
        padding-bottom: 50px; 
    }

    #boxes .box {
        width: 80%;
    }

    #about .container, #services .container {
        grid-template-columns: 1fr;
    }
}
