@import url(variables);
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
// font-family: 'Koh Santepheap', cursive;
// font-family: 'Lato', sans-serif;


.mynavbar {
    font-size: 25px;
    font-family: 'Koh Santepheap', cursive;
    background-color: rgb(33,57,69);
}

#showcase {
   background-color: rgb(33,57,69);
   font-family: 'Koh Santepheap', cursive;
}

#selfie {
    max-height: 300px;
    max-width: 300px;
}

#aboutMe
{
    font-family: 'Koh Santepheap', cursive;
    color: rgb(33,57,69);
    p {
        font-family: 'Lato', sans-serif;  
    }
}

.skills {
    font-family:'Koh Santepheap', cursive;
    font-size: 25px;
    margin: 10px;
}

.logo {
    font-size: 150px;
    margin: 15px;
}